* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #0a1229;
}

.modal {
  height: 800%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}

.modal-content {
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  font-size: 40px;
  justify-content: center;
  align-items: center;
}
.modal-content span {
  margin-top: 12vh;
  margin-bottom: 2vh;
  transition: 250ms;
}

.modal-content span:hover {
  color: #006dba;
  cursor: pointer;
}

.modal-content a {
  text-decoration: none;
  color: white;
  margin-top: 12vh;
}

.open-modal {
  width: 100%;
}

nav {
  width: 100%;
  height: 2vh;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 30px;
  display: flex;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  font-weight: 600;
  margin-right: 10vw;
}

nav a {
  margin-right: 10vw;
  list-style: none;
  color: white;
  font-size: 25px;
  font-weight: 600;
  transition: 250ms;
  display: inline-block;
  position: relative;
}

nav a:hover {
  color: white;
  cursor: pointer;
}

nav a:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: whitesmoke;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

nav a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* HAMBURGER MENU */
.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
  position: absolute;
  right: 10px;
  z-index: 2;
}
.line {
  fill: none;
  stroke: white;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

.contact-form {
  width: 90rem;
  height: 80vh;
  background-color: rgba(0, 0, 0, 0.7);
  margin: auto;
  margin-top: 10vh;
}

/* //MEDIA QUERIES START// */
@media all and (max-width: 768px) {
  nav a {
    display: none;
    visibility: hidden;
  }

  .title-container {
    right: 7rem;
    top: 10rem;
  }
  .title {
    width: 300px;
    height: 300px;
    font-size: 50px;
    line-height: 30px;
    padding-left: 20px;
  }

  .title span {
    line-height: 80px;
  }
}

@media screen and (min-width: 768px) {
  .line {
    display: none;
    cursor: default;
  }
  .menu {
    cursor: default;
  }
}

/* //MEDIA QUERIES END// */
